.citiesChart{
    width:750px;
    height:400px;
}

@media screen and (min-width: 0px) and  (max-width:1655px) {
    .citiesChart{    
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 510px) and  (max-width:760px) {
    .citiesChart{
        width:500px;
    }
  }

  @media screen and (min-width: 360px) and  (max-width:510px) {
    .citiesChart{
        width:370px;
        height:250px;
    }
  }
