.salaryByExperienceChart {
  width: 750px;
  max-height: 90%;
  /* float:right; */
  background-color: white;
  box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
  border-radius: 8px;
  padding: 20px;
}

@media screen and (min-width: 0px) and (max-width: 1655px) {
  .salaryByExperienceChart {
    margin: 0 auto;
  }
}

@media screen and (min-width: 0px) and (max-width: 1340px) {
  .salaryByExperienceChart {
    width: 600px;
    height: 300px;
  }
}

@media screen and (min-width: 0px) and (max-width: 760px) {
  .salaryByExperienceChart {
    width: 500px;
    height: 300px;
  }
}

@media screen and (min-width: 360px) and (max-width: 510px) {
  .salaryByExperienceChart {
    width: 370px;
    height: 250px;
  }
}
