.theme{
  display: inline-block;
  height: 28px;
  width: 80px;
  border: none;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  border-radius: 10px;
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);

}

.theme:active{
  transform-origin: bottom; 
  transform: rotateX(-22deg);
}

.light{
  color: white;
  background: black;
}



.dark{
  color: black;
  background: white;
}

/* 
.checkbox-green .checkbox-green-switch:before {
  content: attr(data-label-on);
  display: inline-block;
  box-sizing: border-box;
  width: 45px;
  padding: 0 12px;
  position: absolute;
  top: 0;
  left: 45px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(1, 1, 1, 0.5);
  font-size: 10px;
  line-height: 28px;
}
.checkbox-green .checkbox-green-switch:after {
  content: attr(data-label-off);
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  border-radius: 1px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;

  line-height: 26px;
  font-size: 10px;
  color: #777;
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.checkbox-green input[type='checkbox'] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-green input[type='checkbox']:checked + .checkbox-green-switch {
  background: white;
}
.checkbox-green input[type='checkbox']:checked + .checkbox-green-switch:before {
  content: attr(data-label-off);
  left: 0;
}
.checkbox-green input[type='checkbox']:checked + .checkbox-green-switch:after {
  content: attr(data-label-on);
  background: white;
  transform: translate3d(44px, 0, 0);
}

Hover */
.checkbox-green
  input[type='checkbox']:not(:disabled)
  + .checkbox-green-switch:hover {
  cursor: pointer;
}
.checkbox-green
  input[type='checkbox']:not(:disabled)
  + .checkbox-green-switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

/* Disabled */
.checkbox-green input[type='checkbox']:disabled + .checkbox-green-switch {
  opacity: 0.6;
  filter: grayscale(50%);
}

/* Focus */
.checkbox-green.focused .checkbox-green-switch:after {
  box-shadow: inset 0px 0px 4px #ff5623;
}
