.skillsChart{
    width:750px;
    height:400px;
    /* float:left; */
}

@media screen and (min-width: 0px) and  (max-width:1655px) {
    .skillsChart{
      
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 0px) and  (max-width:760px) {
    .skillsChart{
        width:500px;
        height:300px;
    }
  }

  @media screen and (min-width: 360px) and  (max-width:510px) {
    .skillsChart{
        width:370px;
        height:250px;
    }
  }
  