.searchInput{
        margin-top:10px;
        border-radius: 50px;
        max-width: 250px;
        min-width: 180px;
        height: 30px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        border: none;
        outline: none;
        background-color: #c3c6ca
}


.sendButton {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    margin: 15px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .sendButton:hover {
    background: #dde0e7;
    box-shadow: 0 15px 20px rgba(31, 123, 132, 0.4);
    color: black;
    transform: translateY(-5px);
  }
