.search__wrapper {
  display: flex;
}

.search__input {
  min-width: 100%;
  height: 35px;
  outline: none;
  background:  #B5B7B9 url('../../assets/search_lupa.svg') no-repeat 10px center;
  border: 1px solid #B5B7B9;
  border-radius: 20px;
  font-size: 16px;
  line-height: 175%;
  padding: 4px 16px 4px 40px; /* Adjust padding to accommodate the icon */
  background-size: 20px 20px; /* Adjust size as needed */
  pointer-events: auto;
}

.sendButton {
  cursor: pointer;
  width: 90px;
  height: 35px;
  background-color: rgba(11, 99, 246, 1);
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
  transition: 0.5s;
  margin-right: 20px;
  margin-top: 4px;
  transition: background-color 0.5s; /* Плавное изменение цвета фона при наведении */
  transition: transform 0.5s; /* Плавное изменение цвета фона при наведении */
}

.sendButton:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 rgb(55, 128, 255);
}

