@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
}

.header-container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
.header {
  background-color: #e5e5e5;
  max-height: 100px;
}
.App-body-container {
  padding-top: 30px;
  max-width: 90%;
  margin: 0 auto;
}

.SalaryStat-blocks {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ShowDataButton {
  text-decoration: none;
  display: inline-block;
  width: 170px;
  height: 35px;
  line-height: 15px;
  border-radius: 5px;
  margin: 0px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.5s; /* Задержка перед началом */
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ShowDataButton:hover {
  background: #dde0e7;
  box-shadow: 0 15px 20px rgba(31, 123, 132, 0.4);
  color: black;
  transform: translateY(-5px);
}

.App-body {
  background-color: #e5e5e5;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Charts {
  margin-left: 100px;
  width: 100%;

  margin: 0 auto;
  display: inline-block;
}
.chart-wrapper {
}

/* .chart-wrapper:not(:last-child) {
  padding-right: 30px;
} */
.Third-charts-block {
  display: flex;
  justify-content: center;
}

._chartBlock {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  align-items: center;
}
.SalaryStat {
  margin: 0 auto;
  font-size: 20px;
}
.SalaryStat div {
  margin-top: 5px;
}

.DiagramCharts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}




/* @media screen and (min-width: 0px) and (max-width: 1255px) {
  .First-charts-block {
    flex-direction: column;
  }
} */

/* @media screen and (min-width: 0px) and (max-width: 1655px) {
  .DiagramCharts {
    display: inline-block;
  }
}

@media screen and (min-width: 0px) and (max-width: 810px) {
  .PieCharts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 810px) {
  .PieCharts {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1650px) and (max-width: 2250px) {
  .DiagramCharts {
     width: 1000px;
    display: inline-block; 
  }
} */
