@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.app__body {
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
}

.app-container{
  max-width: 90%;
}
.header {
  background-color: #333; /* Цвет фона заголовка */
  padding: 10px; /* Отступы вокруг заголовка */
}

.header__container {
  display: flex;
  justify-content: space-between; /* Распределить элементы по горизонтали с промежутком между ними */
  align-items: center; /* Выровнять элементы по вертикали по центру */
  max-width: 1200px; /* Максимальная ширина контейнера заголовка */
  flex-wrap: wrap;
  margin: 0 auto; /* Центрирование контейнера заголовка */
}

/* Стили для контейнера поиска */
.search__container {
  flex-grow: 1; /* Занимать всю доступную ширину в контейнере заголовка */
}

/* Стили для контейнера выбора региона */
/* Стили для контейнера выпадающего меню */
.custom-select {
  position: relative;
  width: 200px; /* Ширина выпадающего меню */
  margin-right: 10px; /* Отступ справа от выпадающего меню */
}

/* Стили для селектора региона */
.region__selector {
  width: 100%; /* Ширина селектора */
  height: 35px; /* Высота селектора */
  border: 1px solid #ccc; /* Граница селектора */
  border-radius: 4px; /* Радиус границы селектора */
  padding: 5px; /* Отступы внутри селектора */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Изменение курсора при наведении */
  -webkit-appearance: none; /* Удаление стандартного внешнего вида селектора в Safari */
  -moz-appearance: none; /* Удаление стандартного внешнего вида селектора в Firefox */
  appearance: none; /* Удаление стандартного внешнего вида селектора в остальных браузерах */
}

/* Стили для стрелочки выпадающего меню */
.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(11, 99, 246, 1); /* Цвет стрелочки */
}

.header-container {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.header {
  background-color: #e5e5e5;
  max-height: 100px;
}
.App-body-container {
  padding-top: 30px;
  max-width: 90%;
  margin: 0 auto;
}

.main {
  text-align: center;
  padding: 100px 0px 20px 0px;
}

.ShowDataButton {
  text-decoration: none;
  display: inline-block;
  width: 170px;
  height: 35px;
  line-height: 15px;
  border-radius: 5px;
  margin: 0px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.5s; /* Задержка перед началом */
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ShowDataButton:hover {
  background: #dde0e7;
  box-shadow: 0 15px 20px rgba(31, 123, 132, 0.4);
  color: black;
  transform: translateY(-5px);
}

.App-body {
  background-color: #e5e5e5;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Charts {
  margin-left: 100px;
  width: 100%;

  margin: 0 auto;
  display: inline-block;
}

.Third-charts-block {
  display: flex;
  justify-content: center;
}

._chartBlock {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  align-items: center;
}
.SalaryStat {
  margin: 0 auto;
  font-size: 20px;
}
.SalaryStat div {
  margin-top: 5px;
}

.DiagramCharts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.chart-wrapper{
  margin-bottom: 100px;
}


.region-selector-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.region-selector-label {
  margin-right: 10px;
  font-size: 22px;
  font-weight: 400px;
  color: #333;
}

.region-selector {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 14px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.show-data-btn {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: rgba(11, 99, 246, 1);
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
  transition: 0.5s;
  margin-right: 20px;
  margin-top: 4px;
}

.show-data-btn:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}

.main__stat-salary {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 50px;
  flex-grow: 1;
}

.main__stat-up {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main__stat-down{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main__stat-diagramm{
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}


.footer {
  background-color: #333; /* Цвет фона подвала */
  color: white; /* Цвет текста */
  padding: 20px; /* Отступы внутри подвала */
  text-align: center; /* Выравнивание текста по центру */
}

.footer__info {
  margin-bottom: 10px; /* Отступ снизу от информации */
}

.export-btn {
  cursor: pointer;
  width: 200px; /* Ширина кнопки */
  height: 35px;
  background-color: rgba(11, 99, 246, 1);
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
  transition: 0.5s;
  margin-right: 20px;
  margin-top: 4px;
  transition: background-color 0.5s; /* Плавное изменение цвета фона при наведении */
  transition: transform 0.5s; /* Плавное изменение цвета фона при наведении */
}

.export-btn:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 rgb(55, 128, 255);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  color: #333;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* @media screen and (min-width: 0px) and (max-width: 1255px) {
  .First-charts-block {
    flex-direction: column;
  }
} */

/* @media screen and (min-width: 0px) and (max-width: 1655px) {
  .DiagramCharts {
    display: inline-block;
  }
}

@media screen and (min-width: 0px) and (max-width: 810px) {
  .PieCharts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 810px) {
  .PieCharts {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1650px) and (max-width: 2250px) {
  .DiagramCharts {
     width: 1000px;
    display: inline-block; 
  }
} */
